/* google font styles */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
   
}
/* header styles */

header{
    width: 80%;
    margin: 0 auto;
}
span{
    color:#FF5400;
}
.journey{
    display: inline-flex;
  align-items: center;
}
 nav img{
    width: 38px;
    height: 40.008px;
    
 }
.nav-title{
    font-size: 36px;
    font-weight: 800;
    margin-right: 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav > ul{
    display: flex;
    
 }
 nav > ul > li{
    list-style: none;
    margin-right: 44px;
 }
 nav >ul > li > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--Dark-02, #424247)
 }
 /* <!-- Explore Your Travel section styles --> */
 main{
     width: 80%; 
   
 }
  .container{
    
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 970px;
    height: 500px;
    border-radius: 16px;
     margin-left: 120px; 
     text-align: center;
   
  }
  .center-textaria{
 
  }
  .inoput-class{
    /* color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px; */

  }
  .center-textaria{
    height: 300px;
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    padding-top: 35px; 
  }
  .travle-description{
 color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 400;
width: 400px;
margin-left: 250px;
  }

  .input-class{
 color: black;
text-align: center;
font-size: 16px;
font-weight: 400;
display: inline-flex;
padding: 12px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
  }
#color{
  background-color:#FF5400;
  color: #FFF;
  margin-bottom: 300px;
}

/* popular section styles */

section{
width: 100%;

}
.Popular-section{
  /* margin-top: 20px; */
  display: flex;
 margin-left: 60px;
 align-items: center;
}
.content{
  margin-right: 150px;
}
.popular-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.popular-description{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
.images img{
  width: 340px;
  height: 350px;
  border-radius: 16px;
  margin-top: 10px;
}
.read-btn{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  margin: 5px;
}

 /* respnsive styles */

 /* mobile responsive */
 @media screen and (max-width:600px) {
  main{
    width: 100%; 
    margin-top: 20px;
  
}
.nav-title{
        margin: 14px;
   }
    nav,.Popular-section{
        flex-direction: column;
    }
    nav > ul > li{
        margin: 5px;
    }
    nav img,{
        width: 60%;
    }
.container{
          background-position: center;
        /* background-attachment: fixed; */
         width: 100%;
         height: 20%;
         border-radius: 15px;
         margin-left: 30px; 
   }
.travel-title ,{
      font-size: 30px; 
 }
 .popular-title{
  font-size: 20px;
 }
 
 .input-class{
 font-size: 6px;
 font-weight: 400;
 display: inline-flex;
 padding: 12px;
 align-items: flex-start;
 gap: 24px;
 border-radius: 8px;
 }
 .travle-description{
  margin-left: 5px;
  width: 300px;
 }

}